.wrapper {
  display: flex;
  column-gap: 20px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 70px;

  margin-top: 30px;
}

.orderForm {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  row-gap: 50px;

  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  border: solid 1px black;
  border-radius: 8px;

  max-height: 600px;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 370px;
  height: 30px;
  margin-top: 10px;
  border: solid 1px black;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  row-gap: 20px;
  max-height: 600px;
  border: solid 1px black;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 15px;
}

.listItem {
  padding: 10px 5px 25px 10px;
  display: flex;
  column-gap: 20px;

  border: solid 1px black;
  border-radius: 8px;
}
.thumb {
  width: 100%;
  height: 150px;
}
.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.textWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 18px;
  font-weight: 500;
  align-self: center;
}

.btn {
  align-self: center;
  padding: 10px 50px;
  border: solid 1px black;
  border-radius: 8px;

  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: bisque;
}

/* input styles */
.inputWrapper {
  margin-top: 25px;
  display: flex;
}

.inputNumber {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.inputNumber,
.inputNumberDecrement,
.inputNumberIncrement {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.inputNumberDecrement,
.inputNumberIncrement {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.inputNumberDecrement:active,
.inputNumberIncrement:active {
  background: #ddd;
}

.inputNumberDecrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.inputNumberIncrement {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
